header {
  border-bottom: solid 1px grey;
  padding:20px;
}
nav{
  border-right: solid 1px grey;
  width:200px;
  height:600px;
  float: left;
}
nav ol{
  list-style: none;
}
article{
  float:left;
  padding: 20px;
}
h2{
  font-style: oblique;
}
